# Database URL (Optional in prod)
DATABASE_URL="postgresql://user:password@localhost:5432/helvetikon?schema=public"
DATABASE_TEST_URL="postgresql://user:password@localhost:5433/helvetikon_test?schema=public"
AUDIO_SAMPLES_FS_ROOT="./static/audio-samples"
VITE_AUDIO_SAMPLES_PUBLIC_ROOT="/audio-samples/"

# Postgres (Optional in dev)
POSTGRES_DB=helvetikon
POSTGRES_TEST_DB=helvetikon_test
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_TEST_USER=user
POSTGRES_TEST_PASSWORD=password

# Password encryption secret
PASSWORD_SECRET="password-secret"

# Password reset link encryption secret
PASSWORD_RESET_SECRET="password-reset-secret"

# Registration link encryption secret
EMAIL_VERIFICATION_SECRET="email-verification-secret"

# Email password
EMAIL_NOREPLY_PASSWORD="password-for-noreply@helvetikon.org"
